
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{
        font-size:12.5px;
    }
    .footer-logo img {
        width: 160px;
    }
     #banner-carousel .carousel-inner .carousel-item img,
    .hero{
        height: 51vh;
    }
    #banner-carousel .carousel-inner .carousel-item img{
        object-fit: cover;
    }
    .carousel-indicators {
        left: 0;
    }
    .banner-button-wrapper {
        top: 35%;
    }
    .scroll-wrapper {
        bottom: 10%;
    }
    .facility {
        flex-basis: 33%;
    }
    .facility-list.text-center {
        justify-content: flex-start;
    }
    .green-button {
        padding: 10px 15px;
    }
    .huge-title {
        font-size: 13vw;
    }
    .block1 .owl-dots {
        right: 39%;
    }
    .banner-details {
        top: 27%;
        right: 7%;
    }
    .features-2 .bg-img {
        background-position: center;
        height: 150px;
    }
    .left-side-img {
        height: 150px;
    }
    .content-preview {
        max-height: 108px;
        overflow: hidden;
        transition: all .5s;
        position: relative;
    }
    .content-full {
        max-height: none;
    }
    .see-more-gradient{
        width: 100%;
    }
    .see-more {
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        color: #a4c485;
        cursor:pointer;
    }
    .light-bg{
        background: #f6f5f1;
    }
    .template img {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .map img{
        width:100%;
    }
    .download-brochure {
        top: 50%;
    }
    .icon-gallery {
        width: 50%;
        display: flex;
    }
    .icon-gallery img{
        width:65px;
    }
}

@media (max-width: 767.98px) {

    .footer-links ul {
        padding: 0;
        margin: 0;

    }

    #tooltip {
        position: relative;
        left: 0 !important;
        top: auto !important;
        text-align: center;
    }
    .dark-layer {
        width: 100%;
    }
    #banner-carousel .carousel-indicators {
        left: 0;
    }
    .apartment-design img {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .banner-button-wrapper {
        top: 48%;
    }
    #banner-carousel .carousel-inner .carousel-item img {
        object-fit: cover;
    }
    .facility {
        flex-basis: 19%;
    }
    .block1 .owl-dots {
        right: 42%;
    }
    .template img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #banner-carousel .carousel-inner .carousel-item img {
        object-fit: cover;
    }
    .template img {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .facility {
        flex-basis: 25%;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .features-block {
        height: 450px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .key-points{
        height:450px;
    }
    .apartment-design img {
        width: 47%;
    }
}

@media (max-width: 1250px){
    .features {
        width: 100%;
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #owl-main .owl-dots {
        right: 400px;
    }
    .contact-zone .form-group {
        width: 70%;
    }
    .key-points{
        height:450px;
    }
    .apartment-design img {
        width: 47%;
    }
    .features-block {
        height: 450px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .features-2 .bg-img {
        height: 450px;
    }
    .right-side-img {
        height: 450px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .left-side-img {
        position: absolute;
        left: 0;
        width: 39%;
        height: 450px;
    }
}