:root {
    --confort-urban-red: #ed1c24;
}
@font-face {
    font-family: PoppinsRegular;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}
body {
    font-family: PoppinsRegular, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    position: relative;
    color: #2d3135;
}
input.form-control,
select.form-control {
    font-size: .8rem;
}
a {
    text-decoration:none;
    color:#ffffff;
}
a:hover{
    text-decoration:none;
}
.gray{
    color: #7b7979;
}
.blue{
    color: #4798ff;
}
.h300{
    height:300px;
}
.h200{
    height:200px;
}
.h37{
    height: 37px;
}
.w-100{
    width:100%;
}
.italic-title {
    color: #939191;
    font-size: 18px;
    font-family: "Times New Roman", serif;
    font-style: italic;
}
.font-12{
    font-size:12px;
}
.font13{
    font-size:13px;
}
.font28{
    font-size:28px;
}
.white{
    color:#ffffff;
}
.black-title {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
}
.white-title{
    color:#fffefede;
    font-size:26px;
}
.mobi-green{
    color: #7a9363;
}
.dark-bg{
    background-color:#23262d;
}
.justify-center{
    justify-content: center;
}
.title-border{
    width: 95px;
    border-bottom: 1px solid #a4c485;
}
.white-mini-border{
    width:95px;
    border-bottom: 1px solid #fffefede;
}
.gray-text{
    color: #6e6f6c;
}
.text-red {
    color: var(--confort-urban-red);
}
.text-highlight {
    color: #337ab7;
}
.home-big-banner .item{
    height:calc(100vh - 30px);
}
#owl-main .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffffff9c !important;
    border-radius: 50%;
    border: 1px solid gray !important;
    margin: 2px;
}
#owl-main .owl-dot.active{
    background:#ffffff !important;
}
#owl-main .owl-dots{
    text-align: right;
    position: absolute;
    bottom: 35px;
    right: 40px;
}
.top-header {
    background: #23262d;
    z-index: 101;
    position: relative;
}
.top-header ul{
    padding:0;
    margin:0;
}
.top-header ul li {
    color:white;
    text-transform: uppercase ;
    display: inline-block;
    font-size: 11px;
    padding: 10px 35px 10px 0;
}
.top-header ul li span {
    color:#8c8c8c;
    text-transform: uppercase;
    padding-left: 10px;
}
.footer-links ul li a:hover{
    color: #a4c485;
}
/*------------  meniu --------*/
.navbar {
    background-color: #23262d;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 102;
}
.navbar.navbar-top{
    top:0;
}
.navbar-top .container{
    padding-top:0 !important;
}
.navbar-top .navbar-brand img {
    width: 60%;
}
.navbar-top{
    padding: 0.2rem 1rem;
}
.navbar .navbar-nav .nav-link:hover{
    color: #a4c485;
}
.navbar .hamburger-inner, .navbar .hamburger-inner:before, .navbar .hamburger-inner:after {
    background-color: #fff !important;
}
.navbar .navbar-brand {
    max-width: 60%;
}
.navbar .navbar-brand img {
    max-width: 100%;
}

.navbar .navbar-nav .nav-item:first-child {
    border-left: 0;
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    line-height: 1.1em;
    font-size: 14px;
    text-align: left;
    padding: 0px 30px 2px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar.navbar-top {
    animation: fromTop 0.3s alternate forwards;
}
.navbar.navbar-hero {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    padding-bottom: 20px;
}
.small-banner.hero {
    height: auto;
}
.download-brochure {
    z-index: 100;
    top: 65%;
    left: 50%;
}
.download-brochure a{
    left:-50%;
    background: #a4c485;
    padding: 10px;
    border-radius:4px;
}
.download-brochure a:hover{
    color:#fff;
}
@keyframes fromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
.hero, section {
    position: relative;
}
.hero {
    height: calc(100vh - 30px);
}
.banner-layer {
    background-color: #23262d57;
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
}
.big-banner-button {
    margin: 0 auto;
    color: white;
    position: relative;
    left:-50%;
    z-index: 10;
    text-align: center;
    font-size: 13px;
}
.banner-button-wrapper{
    position:absolute;
    left: 50%;
    top: 55%;
}
.big-banner-button a:hover{
    color:#ffffff;
    text-decoration: none;
}

.subcat-list {
    list-style: none;
    padding-top: 10px;
    padding-left: 30px;
}
.subcat-list li {
    margin: 10px 0px;
    background: #ffffff40;
    padding: 5px 14px;
    width: 72px
}
.subcat-list li a:hover{
    text-decoration: none;
    font-weight: 600;
    color:#ffffff;
}
#ubercontainer {
    border-radius: 2px;
    width: 875px;
    margin: 20px auto;
    padding: 30px 0;
    position: absolute;
    top: 25%;
    z-index: 10;
    left: 50%;
}
#container {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
    height: 78px;
    left:-50%;
}
.measurable {
    position: absolute;
    visibility: hidden;
}

.static.first, .static.second {
    transition: transform 1s ease;
}
.menu-icon img {
    position: absolute;
    z-index: 12;
    left: 28px;
    top: 41px;
}
#mm-1 .mm-navbar__title span {
    display:none;
}
#mm-1 .mm-navbar.mm-navbar_sticky{
    background-image: url('/assets/images/logo_mobipark.png') !important;
    z-index: 1000;
    width: 142px;
    height: 46px;
    background-color: #333;
    background-size: cover;
    margin: 10px auto;
}
#mm-0 .mm-listitem__text {
    font-size: 16px;
}
.mm-navbar a img {
    width: 24px;
    opacity: 0.6;
}
.mobile-logo {
    position: absolute;
    z-index: 11;
    right: 50%;
    top: 15px;
}
.mobile-logo a img{
    position:relative;
    right:-50%;
    width: 165px;
}
#banner-carousel .carousel-inner .carousel-item img{
    height: calc(100vh - 30px);
    width:100%;
}
#banner-carousel .carousel-inner .carousel-item > img{
    -webkit-animation:thing 30s;
    -o-animation:thing 30s;
    animation: thing 30s;
}
@keyframes thing {
    from{
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.5, 1.5);
    }
}
.second-section{
    width:100%;
}
.scroll-wrapper{
    bottom: 5%;
    right:50%;
}
.scroll-section{
    background-image: url('/assets/images/Asset 3.png');
    border: none;
    right: -50%;
    z-index: 100;
    width: 25px;
    height: 37px;
    background-color: transparent;
    background-size: cover;
}
.carousel-indicators li {
    text-align: right;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}
#banner-carousel .carousel-indicators{
    left:auto;
}
.footer-links ul li a {
    font-weight: 600;
}
.copyright{
    font-size:13px;
    color: #989899;
}
.footer-line {
    border-bottom: 1px solid #989899;
}
.footer-logo img {
    opacity: 0.5;
}
.feature-txt {
    color: #ffffffa6;
    margin: 0 auto;
}
.features img {
    width: 50px;
}
.features-block {
    background-image: url(/img/gallery/92.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: bottom;
}
.features-2 .bg-img{
    background-image: url('/img/roller/17.png');
    background-size: cover;
    background-position: top;
}
#bloc1-gallery {
    justify-content: space-between;
}
.facility-list ul {
    list-style: none;
    padding: 0;
}
.facility-list.text-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.facility {
    flex-basis: 16%;
}
.facility img {
    width: 55px;
}
.youtube{
   background-image: url('/assets/images/icon_youtube_white.png');
    width:26px;
    height:20px;
    background-size:cover;
    vertical-align: middle;
}
.youtube:hover{
    background-image: url('/assets/images/icon_youtube_green.png');
}
.instagram{
    background-image: url('/assets/images/icon_instagram_white.png');
    width:20px;
    height:20px;
    vertical-align: middle;
    background-size:cover;
}
.instagram:hover{
    background-image: url('/assets/images/icon_instagram_green.png');
}
.facebook{
    background-image: url('/assets/images/icon_facebook_white.png');
    width:20px;
    height:20px;
    vertical-align: middle;
    background-size:cover;
}
.facebook:hover{
    background-image: url('/assets/images/icon_facebook_green.png');
}
.small-banner img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.smooth-effect{
    object-fit: cover;
    cursor:pointer;
    transition: transform .5s ease;
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
}

.smooth-effect:hover {
    transform: scale(1.1, 1.1);
}
.bloc-text {
    font-size: 59px;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    z-index: 10;
    position: absolute;
    right: 5px;
}
.light-bg{
    background: #f6f5f1;
}
.block1 .carousel-item img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.block1 .owl-dots {
    position: absolute;
    right: 21%;
    bottom: 10px;
}
.banner-details {
    z-index: 101;
    top: 25%;
    right: 22%;
    text-align: right;
    color: #fff;
}
.block-banner.hero{
    height:450px;
}
.huge-title {
    font-size: 65px;
    font-weight: 800;
    line-height: 55px;
}
.big-title {
    font-size: 42px;
}
.green-button{
    background: #a4c485;
    border-radius: 4px;
    padding: 10px 20px;
}
.green-button:hover{
    color:white;
}
#bloc1-gallery .item {
    height: 420px;
    padding: 17px 0;
    border-radius: 5px;
}
#carousel-mobipark1 img{
    border-radius:4px;
}
#building1-gallery .modal-content{
    background-color:transparent;
    border:none;
}
#bloc1-gallery img{
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
    transition:.5s;
    cursor:pointer;
}
#bloc1-gallery img:hover {
    transform: scale(1.09, 1.09);
    border-radius: 5px;
    z-index: 1000;
    position: relative;
}
.carousel-control-next, .carousel-control-prev{
    opacity:1;
}
/*------------ taburi etaje ------------*/
.mobipark-pills{
    display: flex;
    justify-content: space-around;
}
.mobipark-pills a {
    color: #999898;
    margin-right:20px;
}
.mobipark-pills .nav-link.active{
    color: #90b071;
    background-color: #ffffff;
    border-bottom: 1px solid;
    border-radius:0;
}
#tooltip {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(162, 150, 150, 0.82);
    position: absolute;
}
#tooltip div:nth-child(1),#tooltip div:nth-child(3),
#tooltip div:last-child{
    text-align:center;
    color: #807c7c;
    font-size: 13px;
}
#tooltip div:nth-child(4){
    background: rgb(65,60,62);
    background: linear-gradient(90deg, rgba(65,60,62,1) 27%, rgba(196,199,205,1) 100%);
    padding: 8px 5px;
    color: #ffffff;
    border-radius: 3px;
}
#tooltip img {
    width: 220px;
}
.st0 {
    fill:#0000;
}
#ap8{
    fill:red;
    transition: .3s;
}
#ap8:hover{
    fill:red;
    opacity:0.65;
}
#ap7{
    fill:limegreen;
    transition: .3s;
}
#ap7:hover{
    fill:limegreen;
    opacity:0.65;
}
#ap2{
    fill:limegreen;
    transition: .3s;
}
#ap2:hover{
    fill:limegreen;
    opacity:0.7;
}
#ap4{
    fill:rebeccapurple;
    transition: .3s;
}
#ap4:hover{
    fill:rebeccapurple;
    opacity:0.7;
}
#ap6{
    fill:rebeccapurple;
    transition: .3s;
}
#ap6:hover{
    fill:rebeccapurple;
    opacity:0.7;
}
.oblique-border{
    border-right: 1px solid #828282;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 5px;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-20deg, 0deg);
}
.right-side-img{
    background-image: url('/img/gallery/97.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.left-side-img{
    background-image: url('/img/gallery/96.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.contact-bg{
    background-image: url('/img/gallery/72.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.dark-layer {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index:100;
    background:#00000070;
    right:0;
    top:0;

}
.contact-form{
    position:relative;
    z-index:101;
    padding: 30px;
}
.contact-zone img{
    top: 30px;
    opacity: 0.4;
}
#appartments-tabs .nav-link {
    background: #a4c485;
    padding: 10px 20px;
    margin: 5px;
}
#appartments-tabs .nav-link.active {
    background: #7a9363;
}
#appartments-tabs .nav-link:hover{
    color:#ffffff;
    background: #7a9363;
}
.app-tab-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}
.small-tab-title {
    font-size: 12px;
    opacity: 0.7;
    text-transform: initial;
}
#appartments-tabs .nav-item {
    width: 20%;
}
.banner-text {
    position: absolute;
    z-index: 100;
    top: 41%;
    left: 50%;
}
.block-banner .owl-carousel .owl-stage-outer {
    overflow: initial;
}
.italic-banner-title{
    font-size: 30px;
    line-height: 84px;
    color: #b0b0b0;
    font-family: "Times New Roman", serif;
    font-style: italic;
}
.app-templates {
    display: flex;
    justify-content: flex-start;
}
.template {
    flex-basis: 24%;
    padding:15px;
    background: #fff;
    border-radius: 4px;
    margin: 5px;
}
.template img{
    display:block;
    width:100%;
}
.template:hover {
    box-shadow: 2px 2px 10px 1px #807c7c7a;
    transition: .5s;
}
.template-details {
    border-top: 1px solid #e8e3e3;
    margin: 0 1px;
}

/*---  template building accordion ----*/
.accordion-item {
    overflow: hidden;
    border: none;
}
.accordion-item .title {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: #a4c485;
    padding: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.accordion-item.active .title {
    background: #7a9363;
}
 .accordion-item .title i.fas {
    font-size: 0.9rem;
    color: #454545;
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}
.accordion-item .accordion-content {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    color: #454545;
    display: none;
    padding: 1rem 0;
}
.accordion-item.active .title .fa-chevron-down {
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.accordion-item.active .accordion-content {
    display: block;
}

@media only screen and (max-width: 768px) {
    .accordion {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
/*----- map -------*/
.map img{
    width:80%;
    margin:0 auto;
}
/*---- gallery ----*/
.main-gallery div div{
    overflow:hidden;
    border: 5px solid #23262d;
}
.main-gallery a img:hover{
    transform: scale(1.12);
    transition: transform .5s;
}
.main-gallery a img {
    transform: scale(1.01);
    transition: transform .35s;
    height: 100%;
    object-fit: cover;
}

.help-block.with-errors {
    color: #bfbdbd;
    font-size: 12px;
}
.mm-wrapper_opening .row {
    margin: 0;
}
/*--- apartment types -----*/
#ap-types li a {
    color: #918f8f;
    margin-right: 10px;
    margin-left: 10px;
}
#ap-types {
    justify-content: center;
}
#ap-types li .active {
    border-bottom: 1px solid #b1aeae;
    background: transparent;
    border-radius: 0;
    color: #a4c485;
}
.details-table td, .details-table th {
    padding: 15px 10px 15px 40px;
    color: #868585;
    font-size: 13px;
}
.price-details{
    justify-content: space-between;
    border-radius: 4px;
}
.confort-button {
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background: rgb(161,3,27);
    background: linear-gradient(90deg, rgba(161,3,27,1) 0%, rgba(240,20,8,1) 63%);
    font-size: 13px;
}
.premium-button{
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background: rgb(69,3,161);
    background: linear-gradient(90deg, rgba(69,3,161,1) 0%, rgba(187,58,244,1) 96%);
    font-size: 13px;
}
#choose-apartment {
    font-size: 15px;
    color: #a4c485 !important;
    border: 2px solid #a4c485;
    border-radius:4px !important;
    background: #fff !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}
/* --------- apartment page --------*/
.cursor-pointer{
    cursor:pointer;
}
.confort, .premium {
    box-shadow: 2px 3px 10px 1px #00000054;
    padding: 0;
    margin-right: 15px;
}
.packages {
    width: 70%;
    margin: 0 auto;
}
.contact-prices button {
    height: 38px;
    font-size: 13px;
}
.cloudimage-360 canvas {
    width: 100% !important;
}
.icon-gallery{
    width:65px;
}
.mini-features img{
    width:34%;
}

.mini-features .text-center:hover{
    background: #f6f5f1;
    border-radius: 5px;
}
.ap-right-img {
    background-image: url('/img/gallery/65.jpg');
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 200px;
    right: 0;
    top: 0;
    position: absolute;
}
.ap-left-img {
    background-image: url('/img/gallery/94.jpg');
    width: 100%;
    object-fit: cover;
    background-position: bottom;
    background-size: cover;
    height: 200px;
    left: 0;
    top: 0;
    position: absolute;
}
.icon-gallery img{
    width: 100%;
}
.apartment-acordion .card-header button {
    background: transparent;
    color: #000;
    font-size: 18px;
    border-radius: 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
}
.card-header button:hover, card:hover, .card-header button:focus{
    text-decoration: none;
}
.card-header{
    background: transparent;
    border: none;
    border-bottom: 1px solid #a4c485;
    padding: 0;
}
.card-body {
    padding: 0;
}
.apartment-acordion > .card > .card-header{
    margin-bottom:0;
}
.apartment-acordion .see-more {
    height: 34px;
}
.card {
    border:none;
}
.apartment-acordion .accordion-item.active .title {
    background: transparent;
}
.apartment-acordion .accordion-content {
    font-size: 13px;
}
#my-menu .mm-navbar > * {
    flex-grow: 0.1;
}
#my-menu .mm-navbar{
    justify-content: center;
}

#my-menu .mm-navbar {
    min-height: 10px;
}
.mm-navbar > * {
    min-height: 24px !important;
    font-size: 11px;
}
.mm-menu_theme-dark {
    --mm-color-border: transparent !important;
}
.template a {
    color: #000;
}