
<div class="sim-row container" data-id="16">
    <div class="h-header header-right product-navigation-tab-js sim-row-edit" data-type="id-text" id="40mm-stainless-steel">
        <div class="category-details">
            40 mm - Stainless Steel
        </div>
    </div>
</div>