<div class="sim-row" data-id="21">
    <div class="promo-footer sim-row-edit" data-type="image-link">
        <img src="<?= Configure::read('IMG_PATH') . 'highlights/active2/gsmlogo.png' ?>">
    </div>
</div>
