<div class="sim-row container" data-id="15">
    <div class="h-header first-header">
        <h1 class="sim-row-edit" data-type="text">Galaxy Watch Active 2</h1>
        <div class="header-sep"></div>
        <span class="header-info sim-row-edit" data-type="text">
                Descoperă următorul nivel de performanță
            </span>
    </div>
</div>