<div class="sim-row container" data-id="13">
    <div class="h-header first-header col-lg-9">
        <h1 class="sim-row-edit" data-type="text">Galaxy Watch Active 2</h1>
        <div class="header-sep"></div>
        <span class="header-info sim-row-edit" data-type="text">
                Descoperă următorul nivel de performanță
            </span>
    </div>
    <div class="col-lg-3 d-none d-lg-flex right-button">
        <a href="www.gsmnet.ro" class="category-details sim-row-edit" data-type="link">
            40 mm - Stainless Steel
        </a>
    </div>
</div>