
<div class="sim-row container" data-id="30" style="text-align:center; margin-bottom:15px;">

    <div class="col-md-4" style="margin: 15px 0;">
        <div class="sim-row-edit video-container show-tool" title="Adauga Iframe Video Youtube"
             data-type="iframe" style="text-align:center;
             position: relative; height: 300px; overflow: hidden; margin:0 auto;">
        </div>
    </div>
    <div  class="col-md-4" style="margin: 15px 0;">
        <div class="sim-row-edit video-container show-tool" title="Adauga Iframe Video Youtube"
             data-type="iframe" style="text-align:center;
             position: relative; height: 300px; overflow: hidden; margin:0 auto;">
        </div>
    </div>
    <div  class="col-md-4" style="margin: 15px 0;">
        <div class="sim-row-edit video-container show-tool" title="Adauga Iframe Video Youtube"
             data-type="iframe" style="text-align:center;
             position: relative; height: 300px; overflow: hidden; margin:0 auto;">
        </div>
    </div>

</div>