

<div class="sim-row" data-id="28" style="text-align:center; margin-bottom:15px;">

   <div class="row">
        <div style="margin:15px 0;" class="col-sm-8">
            <div class="sim-row-edit video-container show-tool" title="Adauga Iframe Video Youtube"
                 data-type="iframe" style="text-align:center;
             position: relative; height: 300px; overflow: hidden; margin:0 auto;">
            </div>
        </div>
        <div style="margin:15px 0;" class="col-sm-4">
            <div class="sim-row-edit" data-type="image">
                <img class="offset-image lazy video-img" src="https://www.gsmnet.ro/img/highlights/active2/promo3.jpg"
                     style="width:100%; display:block;margin-top:35px;">
            </div>
        </div>
    </div>

</div>