<div class="container">
    <?=__('Buna ziua. Tocmai ati primit un mail din website-ul mobipark.ro')?>
    <br>
     <?=__('Nume:')?>   <?=$name;?>
    <br> <?=__('Email:')?> <?=$email;?>
    <br> <?=__('Telefon:')?> <?=$phone;?>
    <br> <?=__('Subiect:')?> <?=$subject;?>

</div>
