
            <table  align="center" width="660" style="color:#626262; margin:0 20px;  font-size: 16px; line-height: 28px; color: #5f5f5f;">
                <tr>
                    <td style="padding-top:25px; font-size:26px; font-weight:bold; color:#333">
                        Fisierul CSV exportat este atasat acestui email.
                    </td>
                </tr>
                <tr>
                    <td style="line-height:24px;">
                        <br>
                        <br>
                        Mergi la <a style="text-decoration:none; color:#1E90FF"  href="<?php echo $baseUrl; ?>statistics/supplies">pagina Statistici aprovizionare</a>
                    </td>
                </tr>
            </table>

