<table  align="center" width="660" style="color:#626262; margin:0 20px;  font-size: 16px; color: #5f5f5f;">
    <tr>
        <td style="padding-top:25px; font-size:24px; font-weight:bold; color:#333">
            Rezultat regenerare GSM Arena:
        </td>
    </tr>
    <tr>
        <td style="padding-top:20px; line-height: 28px">
            Au fost adaugate urmatoarele <?php echo $type ?>: <br><br>
            <ul>
                <?php
                    foreach($results as $r) {
                        echo '<li>'.$r.'</li>';
                    }
                ?>
            </ul>
        </td>
    </tr>
</table>