
            <table  align="center" width="660" style="color:#626262; margin:0 20px;  font-size: 16px; line-height: 28px; color: #5f5f5f;">
                <tr>
                    <td style="padding-top:25px; font-size:26px; font-weight:bold; color:#333">
                        Anulare comanda ID <?=$sale['Sale']['id']?> de pe <?=$storeName?>
                    </td>
                </tr>
                <tr>
                    <td style="line-height:24px;">
                        Comanda cu id-ul <?=$sale['Sale']['id']?> a fost anulata.<br><br>
                        Motivul anularii comenzii:<br>
                        <?=$reason?>
                        <br>
                        <br>
                        Puteti verifica comanda in pagina de <a style="text-decoration:none; color:#1E90FF"  href="<?php echo $baseUrl; ?>contul-meu/comenzi/">Comenzi</a> din contul dumneavoastra.
                    </td>
                </tr>
            </table>

