
            <table  align="center" width="660" style="color:#626262; margin:0 20px;  font-size: 16px; line-height: 28px; color: #5f5f5f;">
                <tr>
                    <td style="padding-top:25px; font-size:26px; font-weight:bold; color:#333">
                       Comentariu dezaprobat
                    </td>
                </tr>
                <tr>
                    <td style="line-height:24px;">
                        <br>
                        <br>
                    </td>
                </tr>
            </table>

