<div class="sim-row product-navigation-tab-js" data-id="2" id="text">
	<div class="h-header first-header">
		<p class="header-info sim-row-edit" data-type="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligulaghtgkir  tortor et mattis lobortis, urna ex bibendum ex, vel scelerisque purus
        lacus sed nisl. Donec et varius magna, ornare molestie lectus.  est, commodo eget fermentum quis, iaculis id nulla. Pellentesque facilisis,
        </p>
	</div>
	<input type="hidden" value="1" name="data[article_contents][has_template_text]" id="custom-text">
</div>