<div class="sim-row container product-video-container" data-id="5" style="text-align:center; padding-bottom:20px; width: 585px;">
    <div class="wrapper-right pt-4">
        <div class="sim-row-edit product-iframe-container show-tool video-container" title="Adauga Iframe Video Youtube" data-type="iframe">
            <img class="product-img-left offset-image lazy" src="<?=Configure::read('WEBSITE_URL') . Configure::read('IMAGES_PATH_ARTICLE_CONTENTS')  ?>570x315video.png">
        </div>
    </div>
</div>