.checkbox-custom {
    padding-right: 10px;
    display: inline-block;
}
.checkbox-custom label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox-custom label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox-custom label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox-custom input[type="checkbox"] {
    opacity: 0; }
.checkbox-custom input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox-custom input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox-custom input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox-custom input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox-custom.checkbox-custom-circle label::before {
    border-radius: 50%; }
.checkbox-custom.checkbox-custom-inline {
    margin-top: 0; }

.checkbox-custom-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-custom-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-custom-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-custom-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-custom-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-custom-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-custom-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-custom-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-custom-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-custom-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio-custom {
    padding-right: 10px;
    display: inline-block;
}
.radio-custom label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio-custom label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio-custom label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio-custom input[type="radio"] {
    opacity: 0; }
.radio-custom input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio-custom input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio-custom input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio-custom input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio-custom.radio-custom-inline {
    margin-top: 0; }

.radio-custom-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-custom-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-custom-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-custom-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-custom-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-custom-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-custom-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-custom-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-custom-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-custom-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-custom-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-custom-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-custom-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-custom-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-custom-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }