/*td.image img { width: 50px !important; margin: 5px 10px 0 0; }*/
/* ^^ Vali_g ^^ */
td.image img{margin: 1px 1px 0 0 !important;}
td.image {padding: 5px !important;}
td.name p {  font-weight: bold; }
td.name span { color: #888; }
td.pn .pn { margin-bottom: 5px; }
td.pan p { margin-top: 10px; }
td.links a { display: block; padding: 1px 0; }
td.links a:first-child { padding-top: 0; }
td.links a:last-child { padding-bottom: 0; }
td.competitors {width:100px;}
td.competitors span {display: inline-block; }
.competitor span:nth-child(1) {display: inline-block; width:30px; text-align: left;}
.competitor span:nth-child(2) {display: inline-block; width:40px; text-align: center;}
.competitor span:nth-child(3) {display: inline-block; width:10px; text-align: right;}

td.competitors p {border-bottom: 1px solid #ecebeb; padding-bottom: 1px; margin:0; }
td.competitors p:last-child { border: 0; }

td .p-urls a { display: block; margin-bottom: 3px; }
td .p-urls a:last-child { margin: 0; }
td.pan .pan-main-data { display:inline-block; width: 100%;}



td.name .pns-line { display:inline-block; width: 100%;}
#inbound-order-products p { line-height: 14px; margin: 0 0 3px;}
#inbound-order-products input[type='text'],
#inbound-order-products input[type='number'] { width: 50px; line-height: normal; }
#inbound-order-products input.note { width: auto; }
.product_ean { max-width: 250px; }
.product_ean input { width: 100% !important; }
.product_ean .ean-label { padding: 2px 5px; }

#associate_product .modal-dialog { width: 1200px; }
#associate_product .well { height: 400px; overflow: auto; }
.search-results-list .element { display: table; width: 100%; padding: 5px 0; border-bottom: 1px solid #ddd; }
.search-results-list .element > div { display: table-cell; }
.search-results-list .element .image { width: 30px; }
.search-results-list .element .image img.small { max-width: 100%; }
.search-results-list .element .trigger .inner { display: table; width: 100%; }
.search-results-list .element .trigger .inner > div { display: table-cell; }
.search-results-list .element .id { padding-left: 20px; width: 90px; color: #31708f; }
.search-results-list .element .name { padding-left: 20px; padding-right: 20px; width: 600px; }
.search-results-list .element .part_number { width: 200px; color: #999; font-size: 12px; }
.search-results-list .element .main,
.search-results-list .element .active,
.search-results-list .element .duplicate,
.search-results-list .element .in-list { width: 40px; text-align: center; }
.search-results-list .element .qty { width: 40px; }
.search-results-list .element .main { color: #f4ac41; }
.search-results-list .element .off { color: #ccc; }
.search-results-list .element .in-list { color: green; }
.search-results-list .element .active { color: olivedrab; }
.search-results-list .element .active .fa-toggle-on { color: green; }
.search-results-list .element .active .fa-toggle-off { color: #bbb; }
.search-results-list .element:hover { background: #fff; }
.search-results-list .element:hover .trigger { cursor: pointer; }
#search { padding: 5px; background: #f4f4f4; text-align: center; position: relative; }
#search h4 { margin: 8px 0 0 0; }
#search .form-group { margin-bottom: 0; }
#search .well { position: absolute; top: 55px; left: 0; height: 500px; z-index: 10; width: 100%; text-align: left;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15); }
#search .well .wrapper-results { overflow: auto; height: 460px; }
#search .well i.fa-times-circle { position: absolute; top: 4px; right: 4px; cursor: pointer; }
#iop-sp-code {color: dimgrey; font-style: oblique}
#iop-sp-name {color: dimgrey}
#iop-sp-spec {color: dimgrey; font-style: oblique}
#iop-pan-name {color: dimgrey; font-size: 1.05em; font-weight: bold}

.prod-img-popover {max-width: none;}

td.name p {font-weight: 300}
.purple {font-weight: 600;}
.orange {color: rosybrown; font-weight: 600;}
textarea.shadow { width:360px; border:0; background:transparent; cursor: copy; margin-left:4px; height: 40px; resize: none;}
input.shadow { width:360px; border:0; background:transparent; cursor: copy; margin-left:4px; padding: 3px 0 2px 0; }
.shadow.active { color: green; }
.shadow.inactive { color: red; }
.iop-data .shadow { width:100%; border:0; background:transparent; cursor: copy; margin-left:4px; height: 20px; resize: none;}
.pan textarea {
    height: 25px;
    line-height: 13px;
    margin-left: 0;
    margin-bottom: 0px;
    overflow-y: hidden;
    padding: 0;
}

.editable-input input[type='text'] {width: 160px !important;}
.editable-empty {color:indianred}
.editable-click, a.editable-click, a.editable-click:hover {border-bottom:none;  font-size: 1.25em; color:saddlebrown}
.has-note {color:#a94442}

.qty input{width: 40px !important;}
.received-all {color: forestgreen; font-weight: bold}
.received-less {color: firebrick; font-weight: bold}
.received-more {color: dimgrey; font-weight: bold}
.lbl-print {background-color: ghostwhite;  width: 35px !important;}
.labels {color: grey;}
.de_amount input{border: 0.5px solid lightgray;}
.missing_amount input{border: 0.5px solid lightgray !important;}
.purchase_price input{border: 0.5px solid lightgray !important;}
.purchase_price .no-order-amount {color: orangered}
.purchase_price .mk-dif-prc {border: 0.5px solid lightgray !important; border-bottom-style: dashed !important; border-top-right-radius: 10px}

.mk-nir-gr-diam{color:orange;}
.mk-aq-gr-diam{color:pink;}
.mk-saq-gr-diam{color:coral;}
.mk-nir-gr-p{color:red;}
.mk-saq-gr-p{color:darkorange;}
.mk-p-gr-np{color:pink;}

.total_purchase_price, .total_real_purchase_price {font-style: italic;  color: #b5b5b5;}
.real_purchase_price {color: darkblue;}
.acquisition_price {color: #a98972; }
.diamond_price {color: #00b1b7; }
.associated_selling_price { color: #428bca;}
.wh-pos {color: dimgrey;}
.no-wh-pos {color: darksalmon;}


.SuppPnsPopoverBtn {display: inline-block !important; width: 7% !important; vertical-align: top;}
.p-mk-no-iop-supp-pn {display: inline-block !important; width: 5% !important; vertical-align: top; color: saddlebrown;}
.pn_not_in_pns {display: inline-block !important; width: 5% !important; vertical-align: top; color: darkorange;}
.p-pn-s-url {display: inline-block !important; width: 5% !important;}
.cnt {display: inline-block !important; width: 5% !important;}
.pn-not-active-unique {display: inline-block !important; width: 5% !important; vertical-align: top; color: darkgrey;}
.sp-p-data {display: inline-block !important; width: 45% !important; vertical-align: center; color: grey;}
.p-mk-not-imported {display: inline-block !important; width: 7% !important; vertical-align: top;}

.supp_p_name {width: 100% !important; vertical-align: center; color: dimgrey;}
.supp_p_specs {width: 100% !important; height: auto; color: grey;}

/*width: 100% !important;*/
/*height: auto;*/
/*font-size: 1.05em;*/
/*color: dimgrey;*/
/*}*/


.order-delivered-with-entry {color: forestgreen}
.order-delivered-with-no-entry {color: saddlebrown}
.order-delivery-pending {color: deepskyblue}

.iopnote a {color:red !important;}
.iopnote a i.has-note {color:red !important;}
.iopnote a i:not(.has-note) {color:saddlebrown !important;}

.pan-categ-name {width: 25% !important; color: grey}
.p-part-number {width: 30% !important; color: grey}
.pan-id {width: 7% !important;}
.p-average-30 {width: 6% !important; display: inline-block; font-style: italic; color: grey;}
.p-stock {width: 6% !important; text-align: center; display: inline-block; font-weight: bold}
.p-average-30-2 {font-style: italic; color: grey;}
.p-stock-2 {text-align: center; font-weight: bold}
.p-stock-before-entry  {width: 6% !important; text-align: center; display: inline-block; font-weight: bold}
.association-btns {vertical-align: top; width: 8%; display: inline-block; }
.association-btns i{color: darkgrey;}
.p-mk-not-imported{color: lightcoral}
.p-mk-firs-entry{color: orange}
.p-mk-not-unique{color: coral}
.p-mk-not-active{color: #ac2925}

.pan-name {width: 100% !important; height: auto; font-size: 1.05em; color: dimgrey}

.iop-note {width: 100%;  display: inline-block; vertical-align: bottom !important;}
.p-note {width: 100%;  display: inline-block}

.entry_amount_alert {color: lightgray}
.mk-dif-entry-am {color: orangered}
.no_entry_amount {color: orange}

.fixed-header { position: static; background: #fff; z-index: 5; padding-top: 5px; padding-bottom: 2px; }
.fixed-header.fixed { position: fixed; top: 0; left: 1px; padding-right: 15px; padding-left: 15px; width: 100%;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15); -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15); box-shadow: 0 5px 5px rgba(0,0,0,0.15); }
.fixed-header.fixed+.results-table-content { margin-top: 185px;}

.navbar-static-top {display: none;}
.wide #page-wrapper {margin-left: 0px; padding-left: 15px; padding-right: 15px; }
.element .style {padding-top: 2px !important;}

.results-table-content-thead table{margin-bottom: 2px;}
.results-table-content-thead th{border: none !important;}

.results-table-content { margin-top: 0px;}
.results-table-content .col-md-12:first-child { padding: 0px 15px;}
.inbound-order-base .multi-select {width: 100% !important;}
.marked-competitor { background-color: rgba(255,0,0,0.15)}
.ui-datepicker { z-index: 1051 !important;}
.ui-datepicker-title option, .ui-datepicker-title select {color: black !important;}

tr td.qty p, tr td.purchase_price p, tr td.entry_price p,tr td.stock_average p, tr td.product_selling_price p,
tr td.selling_price p, tr td.print p {line-height: 20px !important;}

.selling_price::-webkit-inner-spin-button,
.selling_price::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.order_main_data {width: 160px; display: inline-block; color: dimgrey;}
.order_main_totals {width: 130px; display: inline-block; color: dimgrey;}
.order_product_stats {width: 55px; display: inline-block; color: lightgrey;}
.order_products_info {width: 55px; display: inline-block; color: dimgrey;}

.has-val {color:#17a2b8;}
.has-new-val {color:#d9534f;}

.header_order_data {margin-bottom: 2px !important;}
.header_order_data dt{width: 36px; margin-bottom: 2px;}
.header_order_data dd{margin-left: 37px;}
.inbound-order-statistics {border: none;}

.modal_order_entry_actions .btn{margin-bottom: 5px; width:100%}

#inbound-order-products input.error { background: #dd1144; border: 1px solid #5d1717; padding: 2px 1px; color: #fff; }
#inbound-order-products input.success { border: 2px solid #7aba7b !important; padding: 1px; }
#inbound-order-products input.focused { background: lemonchiffon; border: 1px solid #4B9406; padding: 2px 1px; color: #444; }

.io-note .form-inline .form-control {width: 400px !important;  height: 80px;}
.io-note .popover { top: -60px !important;  left: 45px !important;}

td.pan .form-inline .form-control{
    width: 400px !important;
    height: 55px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fcfcfc;
}
.table-hover>tbody>tr:hover>td {
    background-color: floralwhite;
    border-top: 1px solid #91bdc1;
    border-bottom: 1px solid #91bdc1;
}

.found-product {
    border: 3px solid navajowhite;
}


.product_images_toggle, .competitors_data_toggle {font-size: 11px;}

.order-delivered {color: red}

/*#notification-tasks-container {*/
/*width: 100%;*/
/*position: relative;*/
/*min-height: 1px;*/
/*float: left;*/
/*}*/

.task-notification-container {
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 40px;*/
    padding: 5px;
    background: #f0ad4e2e;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*.task-notification {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/

/*.task-notification-spinner {*/
    /*font-size:24px;*/
    /*color:red;*/
    /*display:inline-block;*/
    /*vertical-align:middle;*/
/*}*/

/*.task-notification-text {*/
    /*display:inline-block;*/
    /*vertical-align:middle;*/
    /*max-width: 70%;*/
    /*margin: 0 5px 0 5px;*/
    /*font-size: 12px;*/
    /*text-decoration: solid;*/
    /*color: #b31111;*/
/*}*/

.task-notification-btn-done {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 5px;
    /*font-size: 14px;*/
    text-decoration: solid;
    float: right;
}



.jsurl{cursor: pointer;}

.cnt {font-style: italic;  color: #b5b5b5;}



/*.fa-stack { margin: -2px !important; }*/



/*.fa-stack-1x { top: .25em; }*/
.stats_stack {
    font-size: .75em;
    top: -.1em;
    /*vertical-align: top;*/
}

/*a.disabled {*/
    /*!* Make the disabled links grayish*!*/
    /*color: gray;*/
    /*!* And disable the pointer events *!*/
    /*!*pointer-events: none;*!*/

/*}*/

.cancel-order-body {
    padding: 5px;
}

#order_documents .modal-dialog{
    width: 70%;
}

#documents_form_content dd p, #documents_form_content dd input {
    display: inline-block;
}

#documents_form_content dd p {
    margin-right: 10px;
}

#documents_form_content dd input {
    width: 75%;
}



.search-input::placeholder {
    color: darkgrey;
    font-style: italic;
}

#search_pn_ean::placeholder {
    color: darkgrey;
    font-style: italic;
}


.mobile {display: none}

@media(max-width:820px) {
    /*body{font-size: 0.7em;}*/
    .document-selling_price_analysis #search  {display: none;}
    /*.document-selling_price_analysis .fixed-header.fixed {display: none;}*/
    .order_product_stats {display: none;}
    /*.order_main_data {display: none;}*/
    .order_main_totals {display: none;}
    .buttons-entry {display: none;}
    .io-note {display: none;}
    #printer-main-container {display: none;}

    tbody tr {height: 135px;}

    /*.document-prereception*/
    /*.document-merchandise_reception*/
    /*.document-selling_price_analysis*/

    th:nth-child(1) {display:none;}  .name {display: none;}
    th:nth-child(4) {display:none;}  .pan  {display: none;}

    .document-selling_price_analysis th:nth-child(6) {display:none;}    .document-selling_price_analysis .qty {display: none;}
    th:nth-child(7) {display:none;}  .rez_qty {display: none;}
    th:nth-child(8) {display:none;}  .purchase_price {display: none;}
    .document-merchandise_reception th:nth-child(11) {display:none;}   .document-merchandise_reception td.selling_price {display: none;}
    .document-selling_price_analysis th:nth-child(13) {display:none;}   .document-selling_price_analysis .stock_average {display: none;}
    /*.document-selling_price_analysis th:nth-child(2) {display:none;}  document-selling_price_analysis td.urls {display: none;}  !*in final am ales sa le ascund*!*/
    th:nth-child(2) {display:none;}  td.urls {display: none;}

    .document-merchandise_reception th:nth-child(5) {display:none;}   .document-merchandise_reception td.print {display: none;}
    .document-merchandise_reception th:nth-child(9) {display:none;}   .document-merchandise_reception td.entry_price {display: none;}
    .document-merchandise_reception th:nth-child(10) {display:none;}   .document-merchandise_reception td.product_selling_price {display: none;}
    /* TODO: afiseaza stoc, medie si coordonata, cod furnizor produs  si poate(daca incape) nume prod furnizor*/

    /*th:nth-child(2):after {content: '*';}*/
    /*.urls a {*/
    /*width: 16px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*}*/

    td.competitors {width:85px;}
    td.competitors span {display: inline-block; }
    .competitor span:nth-child(1) {width:27px;}
    .competitor span:nth-child(2) {width:36px;}
    .competitor span:nth-child(3) {width:6px;}

    #inbound-order-products input[type='text'] {
        width: 40px; line-height: normal;
    }

    td.selling_price {width: 41px;}
    input.selling_price {width: 40px !important; line-height: normal;}

    td.image {width: 70px !important;}
    td.image a img {width: 65px;}
    td.image a {width: 65px;}
    td.image p.stock { line-height: 20px !important; }

    .pan-name.mobile {
        display: block;
        position: absolute;
        width: 90% !important;
    }


    .d-pan-id.mobile, .average.mobile, .stock.mobile {display: block;}
    .prod-img-popover { left: 5px; right: 5px; width: calc(100% - 20px); }
    .prod-img-popover img { width: 100%; }
    .popover-content { padding: 2px; }




}