.navbar {
    display: none !important;
}
@page {
    margin: 0cm;
    size: Portrait;
}
body {
    width: 950px;
}
div, table {
    font-family: Verdana;
    font-size: 11px;
}
div {
    padding: 5px;
}
.table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
.table thead {
    font-weight: bold;
}
.table tfoot td{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}
.table .first_body_row {
    text-align: center;
}
.table td, .table th {
    padding: 4px;
    border: 1px solid #000000;
}
h1 {
    margin-top: 0px;
}
#debug-kit-toolbar, #panel-tabs {
    display: none !important;
}
html {
    margin: 1cm;
}
#page-wrapper {
    margin: 0cm;
    padding: 0cm;
    border: none;
}
body {
    background-color: white;
}
.centered {
    margin: 0 auto;
}
.centered-text {
    text-align: center;
}
.right-align-text {
    text-align: right;    
}
.left-align-text {
    text-align: left;    
}
.bolded {
    font-weight: bold;
}
.signatures {
    width:100%;
    padding-left: 100px;
}
.grayed {
    color: gray;
}
.italic {
    font-style: italic;
}
.red-text {
    color: red;
}