/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 70px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    
    .wide #page-wrapper {
        margin-left: 0px; 
    }
    /*
    #switch-menu-visibility {
        position: absolute;
        left: 250px;
        top: 51px;
        color:red;
        cursor: pointer;
        display: block;
        padding: 3px 10px;
    }
    
    .wide #switch-menu-visibility {
        left: 0px;
    }
    */
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.sb-only {
    display:none;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}

.wide .sidebar .sidebar-nav {
    border-right: none;
}

.sidebar .sidebar-nav {
    border-right: 1px solid #e7e7e7;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
        transition: ease all 0.4s;
    }
    
    .wide .sidebar {
        width: 0px;
        overflow: hidden;
        transition: ease all 0.4s;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.mg20, .mb20 {
    margin-bottom: 20px;
}

.mt24 {
    margin-top: 24px;
}

/****** START margins *******/
/* margin 0px */
.mt0 {
    margin-top: 0;
}
.mr0 {
    margin-right: 0;
}
.mb0 {
    margin-bottom: 0;
}
.ml0 {
    margin-left: 0;
}
/* margin 5px */
.mt5 {
    margin-top: 5px;
}
.mr5 {
    margin-right: 5px;
}
.mb5 {
    margin-bottom: 5px;
}
.ml5 {
    margin-left: 5px;
}
/* margin 10px */
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.ml10 {
    margin-left: 10px;
}
/* margin 20px */
.mg20, .mb20 {
    margin-bottom: 20px;
}
.mt20 {
    margin-top: 20px;
}
.mr20 {
    margin-right: 20px;
}
.ml20 {
    margin-left: 20px;
}
/* custom margins */
.mt24 {
    margin-top: 24px;
}
/****** END margins *******/

/****** START paddings *******/
/* padding 0px */
.pt0 {
    padding-top: 0;
}
.pr0 {
    padding-right: 0;
}
.pb0 {
    padding-bottom: 0;
}
.pl0 {
    padding-left: 0;
}
/* padding 5px */
.pt5 {
    padding-top: 5px;
}
.pr5 {
    padding-right: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.pl5 {
    padding-left: 5px;
}
/* padding 10px */
.pt10 {
    padding-top: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl10 {
    padding-left: 10px;
}
/* padding 20px */
.pb20 {
    padding-bottom: 20px;
}
.pt20 {
    padding-top: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pl20 {
    padding-left: 20px;
}
/* custom paddings */
.pt24 {
    padding-top: 24px;
}
/****** END paddings *******/

.dataTable tbody tr {
    cursor: pointer;
}

.form-inline .submit {
    display: inline-block;
}

.relative {
    position: relative;
    line-height: 8px;
}
.ddn {
    position: absolute;
    font-size: 12px;
    top:20px;
    left: 0px;
    background-color: white;
    padding: 2px;
    border: 1px solid #ccc;
    z-index: 40;
}
.ddn hr {
    margin-bottom: 2px;
    margin-top: 2px;
}

.ddn .associate {
    cursor: pointer;
    padding: 5px 5px;
    
}
.ddn .associate:hover {
    background-color: #f1f1f1;
}

.form-input-right {
	float: right;
}

.remove_form_group .form-group {
    margin-bottom: 0 !important;
}

.remove_form_group .help-block {
    display: none;
}

.form-control[readonly].hasDatepicker {
    cursor: pointer;
    background-color: #fff;
}

.number {
    text-align: right;
    width: 70px;

}

.sales_buttons .submit {
    display: block;
}

.categories_filter .form-control {
    width: 100%;
}

.categories_filter select {
    margin-bottom: 15px;
}

.categories_filter label {
    display: none;
}

.btn-xss, .btn-group-xss > .btn {
    line-height: 1!important;
}

/* input-xs */

input[type="date"].input-xs,
input[type="time"].input-xs
input[type="datetime-local"].input-xs,
input[type="month"].input-xs {
    line-height: 22px;
}
.form-control-static.input-xs {
    padding-right: 0;
    padding-left: 0;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1;
}
select.input-xs {
    height: 22px;
    line-height: 2px;
}
.input-group-addon.input-xs {
    padding: 2px 5px;
    font-size: 12px;
}
/* end input-xs */

/** Invoices panel **/
.invoices-panel label {
	font-weight: normal;	
}

/* NIR area */
.product_additional_info {
    color: gray;
}
.product_additional_info input {
    border: 0;
    background-color: lightgray;
}

#extraFilterForm .checkbox-inline {
    line-height: 22px;
}
.ms-drop {
    text-align: left;
}
.ms-parent .ms-choice {
    border: 1px solid #ccc;
}
.ms-parent.form-control .ms-choice {
    border: 1px solid transparent;
}
#validation_in_progress_notif  {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;;
    line-height: 40px;
    z-index: 1000;
    text-align: center;
    border-radius: 4px;
}

.pagination {
    margin: 3px 0;
}

/* chosen made responsive */
.chosen-container.chosen-container-single {
    width: 100% !important; /* because it has inline style width */
}

.chosen-container-single .chosen-single {
    height: 33px;
    line-height: 33px;
    background: transparent;
}

.chosen-single b {
    margin-top: 5px;
}

.multiple_select {
    padding: 0 !important;
}

.multiple_select button {
    height: 100%;
}

.border-danger {
    border-color: #d43f3a;
}

/* advanced pagination */
.pagination-wrapper {
    margin: 15px 15px 0 15px;
}

.pagination-wrapper > .row {
    margin-left: 0;
    margin-bottom: 0 !important;
    margin-right: 0;
}

.pagination-wrapper div.pagination {
    margin-top: 10px;
}

.pagination-wrapper span.nr {
    display: inline-block;
    float: left;
    margin: 10px 10px 0 0;
    font-size: 12px;
}

.pagination-wrapper .trigger_select_page {
    width: auto;
    display: inline-block;
    margin: 3px 10px 0 0;
    height: 28px !important;
    float: left;
}
/* end advanced pagination */