.no-padding{
    padding: 0 !important;
}

.wide .sidebar {
    width: 70px;
    overflow: visible;
    box-shadow: none;
}

.sidebar {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.wide #page-wrapper {
    margin-left: 70px;
}

#switch-menu-visibility {
    padding: 5px 0 5px 18px;
    color: red;
    cursor: pointer;
    display: block;
}

.sidebar .side-menu-tree span {
    display: none;
}

.wide .help-cautare-spot {
    display: none;
}

/*.wide .sidebar-search {*/
    /*padding: 0 !important;*/
/*}*/

.wide .sidebar-search {
    padding: 0 !important;
    height:53px;
    padding-top: 5px;
}

.sidebar .sidebar-search {
    padding: 15px;
    height:53px;
    padding-top: 10px;
}

.wide-search-bling-large {
    display: none;
}

.wide-search-bling-small {
    display: none;
}

.wide .wide-search-bling-small {
    width: 250px;
    background-color: #f8f8f8;
    padding: 5px;
    display: none;
    position: absolute;
    top:0;
    left: 70px;
    border-bottom:1px solid #e7e7e7;
    border-right:1px solid #e7e7e7;
}

.wide-search-trigger {
    /*display: none !important;*/
}

.wide .wide-search-trigger {
    /*display: block !important;*/
    cursor: pointer;
    padding: 15px;
}

.wide .wide-search-trigger:hover {
    background-color: #EEE;
}

#productReviewsList .edit-p-comment-input {
    width: 500px;
}

#fancourier_options select {
    width: 100%;
    min-height: 190px;
}

#fancourier_options .form-group.issue_awb {
    padding-left: 0;
}

dl.dl-horizontal dt {
    margin-bottom: 8px;
}

#fancourier_options .form-group {
    padding-left: 20px;
}

#fancourier_options .no-margin {
    margin: 0;
}

.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }

.text-lightgray {
    color: lightgray;
}

.text-faded {
    color: #a1a1a1;
}

.text-orange {
    color: darkorange;
}

.text-red {
    color: #ca3523;
}

.text-green {
    color: #00aa00;
}

.text-white {
    color: #fff !important;
}

.line-faded > td {
    opacity: 0.28;
    background: rgba(5,5,5,.075);
}

.badge {
    background-color: #5bc0de;
}

.announcements {
    background-color: #3F91CA;
    color: #fff;
}

.announcements ul {
    padding: 0;
    list-style-type: none;
}

.announcements a {
    color: #f0ad4e;
    text-decoration: none;
}

.announcements ul li {
    padding-top:5px;text-align:center;
    min-height: 30px;
}

.fancourier_text {
    background-color: #d9edf7;
    border: none;
}

.fancourier_text:hover {
    background-color: #fff;
}

.associate_emag_categories input[type="submit"] {
    width: 20% !important;
    float: right;
}
.associate_emag_categories input[type="text"] {
    width: 75% !important;
    float: left;
}

#ajax-loader {
    background: url('/admin/css/images/ajax-loader.gif');
    height: 35px;
    width: 35px;
    display: none;
    margin: 10px auto 0 auto;
}

.ui-dialog-titlebar .ui-button-text {
    padding: 0;
}

#ajax-message {
    font-size: 12px;
}

.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #EB7373; border-radius: 20px;
    background-color: #EB7373;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 18px;
    border: 2px solid #EB7373; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #ADF0AD;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #ADF0AD;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

.inline-block {
    display: inline-block;
}

.font-monospace {
    font-family: monospace, serif;
}

.bg-raster {
    background: #f2f2f2;
}

.bg-white {
    background: #ffffff;
}

form.form-bordered {
    border: 1px solid #ddd;
    padding: 15px;
}

.no-border {
    border: 0;
}

table.no-border td {
    border: 0 !important;
}

.manage-user-types .form-group {
    margin: 0;
}

.manage-user-types .inline-block {
    height: 22px;
}

.remote-order{
    color:#fff;
    background-color:#5eabe2 !important;
}

.table-hover > tbody > .remote-order:hover > td,
.table-hover > tbody > .remote-order:hover > th{
    background-color:#ecbc78 !important;
}

.remote-order a{
    color:#fff;
    font-weight:bold;
}

.mobile-navbar{
    display:none;
}

/*  Custom Filter */
.custom-filter  .dl-horizontal dt {
    margin-bottom: 0;
    line-height: 1;
    width: 20%;
    float: left;
    padding-right:10px;
    text-align:right;
    clear: both;
    /*background-color: orchid;*/
}

.custom-filter .dl-horizontal dd{
    float:left;
    width:calc(80% - 5px);
}

.custom-filter  .text-input {
    float: left;
    margin-bottom:15px;
    line-height:1;
    height: 30px;
    font-size: 20px;
}

.custom-filter .checkbox-input-type1 {
    height: auto;
    clip: initial;
    position: relative;
    font-weight:normal;
    margin: 5px;
    width: calc(50% - 10px);
    float: left;
    text-align:center;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    background-color: darkgrey;
}

.custom-filter .checkbox-input {
    height: auto;
    clip: initial;
    position: relative;
    font-weight:normal;
    margin: 5px 5px 20px 5px;
    width: calc(100% - 10px);
    float: left;
    text-align:center;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    background-color: lightgrey;
}

.schedule-radio .radio{
    padding: 0 10px 10px 0;
    color:#5CB85C;
    font-weight:bold
}

.schedule-radio .radio:after{
    padding-left:5px;
    content:'\f096';
    font-family:FontAwesome;
}


.schedule-radio .radio:last-of-type{
    border-left:1px solid black;
    color:#AC2925;
}

.schedule-radio .radio:last-of-type:after{
    padding-left:5px;
    content:'\f187';
    font-family:FontAwesome;
}

.product-inventories-qty{
    font-weight:bold;
    padding: 4px 8px;
    display:inline-block;
    text-align:center;
}

.not-a-link, .not-a-link:hover, .not-a-link:focus{
    color:#778899;
    text-decoration:none;
    font-weight:normal;
    cursor:default;
}

.stock-item-center .modal-dialog{
    position: fixed !important;
    top: 90px; !important;
}

.btn-delete-tag-container {
    position:absolute;
    top:5px;
    right:20px;
}

.btn-outline.selected {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.inbound-order-base dt {
    width: 100px;
}

.inbound-order-base dd {
    margin-left: 110px;
}

.inbound-order-statistics p{
    margin-bottom: 5px;
}

.inbound-order-statistics {
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.inbound-order-statistics tr{
    border-bottom: 1px solid #DDD;
}

.inbound-order-statistics th, .inbound-order-statistics td{
    border-left: 1px solid #DDD;
    text-align: center;
    padding: 0 5px;
}

.table-inset {
    background-color: transparent !important;
}

.table-inset tr:first-child td {
    border: 0 !important;
}

/* Custom multiple select styles */
.custom-multiple-select.ms-parent {
    width: 100% !important;
}

.custom-multiple-select.ms-parent .ms-choice {
    height: 100% !important;
    line-height: normal !important;
    position: relative;
}

.custom-multiple-select.ms-parent .ms-choice > div {
    height: 100% !important;
    background-position: -3px -5px;
    width: 10px;
}

.custom-multiple-select.ms-parent .ms-choice > span {
    padding-left: 0;
}

.custom-multiple-select.ms-parent .ms-drop ul li label {
    vertical-align: middle;
}

.custom-multiple-select.ms-parent .ms-drop ul li input {
    margin-right: 5px;
    margin-top: 0;
    vertical-align: middle;
}

.custom-multiple-select.ms-parent .ms-drop ul li span {
    vertical-align: middle;
}
/* END Custom multiple select styles */

#gallery-holder .image-holder {
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
    border: 1px solid #ecebeb;
    margin: 0 10px 10px 0;
    position: relative;
    background: #fff;
}

#gallery-holder .ui-state-highlight {
    width: 200px;
    height: 200px;
}

#gallery-holder .image-holder a.del-trigger {
    display: block;
    position: absolute;
    top:0;
    right: 0;
}

#gallery-holder .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media(max-width:1290px){

    #userScheduleList{
        font-size:1.3em;
    }
}


@media(max-width:992px){

}


@media(max-width:767px) {
    html{
        overflow-x: hidden !important;
    }

    .container{
        max-width:100% !important;
        overflow-x: hidden !important;
    }

    .navbar-right {
        display: none;
    }

    .mobile-navbar {
        display: inline-block;
        float: right;
    }

    .wide #page-wrapper {
        margin-left: 0;
        padding: 5px !important;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
    }

    .wide .sidebar {
        width: 250px;
        overflow: hidden;
        transition: ease all 0.4s;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }

    .sidebar .sidebar-search {
        padding: 15px;
        height: initial;
        /*padding-top: 5px;*/
        padding: 10px 15px !important;
    }

    .wide-search-bling-large {
        display: block;
    }

    .wide-search-trigger {
        display: none;
    }

    .wide .side-menu-tree span {
        display: initial;
    }

    .navbar {
        min-height: 40px;
    }

    .navbar-brand {
        font-size: 1.2em;
        padding: 10px 15px;
        width: calc(100% - 155px);
    }

    .navbar-top-links li a {
        padding: 10px 15px;
        min-height: 40px;
    }

    .navbar-toggle {
        margin-top: 4px;
        margin-bottom: 0;
    }


    /*.side-menu-tree {*/
        /*text-align: center;*/
    /*}*/

    .sidebar .nav-second-level li a {
        max-width: 80%;
        margin: 0 auto;
        padding-left: initial;
        border-bottom: 1px solid #eee;
    }
    .ul #side-menu .li{
        padding-left: calc(100vh - 15px);
    }

    .nav > li > a {
        padding: 7px 15px;
    }

    #switch-menu-visibility, .switch-menu-visibility-container {
        display: none !important;
    }

    .mb10{
        margin-bottom:10px;
    }

    .floating-nav{
        position:absolute;
        right:15px;
    }

    .stock-item-top{
        background: #fff;
        color:#000;
        padding: 5px 5px 2px 5px;
        border-bottom:1px solid #333;
        overflow:auto;
    }

    .stock-item-header{
        font-size:1.2em;
        display:block;
        float:left;
        width:100%;
    }

    .stock-item-center{
        overflow:auto;
    }

    .stock-item-left{
        display:block;
        float:left;
        width:calc(100% - 175px);
        font-size:1.5em;
        line-height:1.5em;
    }

    .stock-item-left p{
        margin: 0 2px;
    }

    .positions-list{
        position:absolute;
        overflow-y:scroll;
        right:0;
        width:180px;
        background-color:#596475;
    }

    .positions-list ul{
        padding:5px;
        margin-bottom:5px;
    }

    .positions-list hr{
        margin:1px 0;
    }

    .list-group hr{
        margin: 0;
        border: 2px solid black;
    }

    .list-group-item{
        padding:10px 6px;
    }

    .positions-list .list-group-item:last-child{
        margin-top:10px;
    }


    #lightboxOverlay{
        position: fixed !important;
        top: 0;
        left: 0;
        height: 100% !important;
        width: 100% !important;
    }

    #lightbox{
        position: fixed !important;
        top: 50% !important;
        transform: translateY(-50%);
    }

    .stock-item-left .single-product-gallery-item{
        margin:20px 0 0 0;
        text-align:center;
    }

    .stock-item-left .single-product-gallery-item a{
        display:inline-block;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width:calc(100% - 200px);
    }

    .stock-item-top .alert{
        display:block;
        float:left;
        width: 100%;
        text-align: center;
        margin-bottom: 4px;
        line-height:24px;
        padding:0 15px;
    }

    .meniu-vali-nav {
        width: calc(100% - 70px);
        padding:0;
        overflow: auto;
        position:absolute;
        left:-540px;
    }

    .meniu-vali-nav li {
        width:66%;
        display: block;
        float: left;
        text-decoration: none;
        padding-left: 10px;
    }

    .meniu-vali-nav li:first-of-type{
        width:33%;
    }

    .meniu-vali-nav a {
        padding:21px 16px;
        border-radius: 0;
        line-height:22px;
    }

    .meniu-vali-nav a:first-of-type{
        padding: 21px 20px;
    }

    #actions .modal-header,
    #actions .modal-body,
    #actions .modal-footer{
        padding:5px 15px;
    }

    #actions .modal-footer button{
        width:100px;
    }

    #actions .form-group{
        margin-bottom:5px;
    }

    .list-group-item .open_actions{
        display:inline-block;
        width:100%;
    }


    .list-group-item .badge{
        font-size: 1.2em;
        margin-left: 10px;
        float:right;
        background-color: #ff7b81;
    }

    .inventory-disabled{
        opacity:0.3;
        cursor:not-allowed;
    }

    .action_form input{
        height: 46px;
        padding: 5px 10px;
    }

    #actions .modal-content{
        overflow:auto;
    }

    #actions .modal-body{
        float:left;
        width:75%;
    }

    #actions .modal-body .fa{
        font-size:44px;
        padding-bottom:10px;
    }

    #actions .modal-footer{
        float:left;
        width:25%;
    }

    #actions a.focused{
        color:orange;
    }

    .product-lightbox .lb-dataContainer{
        display:none !important;
    }

    .schedule-radio .radio:last-of-type{
        border-left:0;
        color:#AC2925;
    }
}

@media(max-width:520px) {
    .navbar-brand{
        padding: 10px 6px;
    }

    .navbar-brand .bigger{
        display:none;
    }

    .custom-filter .checkbox-input-type1{
        font-size:15px;
        padding:8px;
    }

    .menu{
        padding:2px;
        width:100%;
    }

    #actions .modal-body,
    #actions .modal-footer{
       width:100%;
    }
}


/* my own interpretation of Bootstrap callout */
/* Twitter Bootstrap Callout CSS Styles 3.x-4.x */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 4px;
    margin-left: 50px;
}
.bs-callout-xl {
    margin-left: 0px;
}
.bs-callout-lg {
    margin-left: 50px;
}
.bs-callout-md {
    margin-left: 100px;
}
.bs-callout-sm {
    margin-left: 150px;
}
.bs-callout-xs {
    margin-left: 200px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 4px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
    background-color: #f7f7f9;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
    background-color: #efffe8;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
    background-color: #fcf2f2;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    background-color: #fefbed;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
    background-color: #f0f7fd;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
/* bg transparency and disabled effects for Bootstrap callout */
.bs-callout-default.transparent {
    background-color: rgba(247, 247, 249, 0.7); /*#f7f7f9*/
}
.bs-callout-success.transparent {
    background-color: rgba(239, 255, 232, 0.7); /*#efffe8*/
}
.bs-callout-warning.transparent {
    background-color: rgba(254, 251, 237, 0.7); /*#fefbed*/
}
.bs-callout-danger.transparent {
    background-color: rgba(252, 242, 242, 0.7); /*#fcf2f2*/
}
.bs-callout-info.transparent {
    background-color: rgba(240, 247, 253, 0.7); /*#f0f7fd*/
}
.bs-callout.disabled {
    opacity: 0.4;
}

/************************* BUDGET INVOICES & PAYMENTS *************************/
span.due-days {
    border: 1px solid #d1d1d1;
    padding: 0 4px;
    font-weight: bold;
}
.invoices-list {
    padding: 5px 0;
}
.invoices-list .invoice-line {
    float: left;
    width: 31.5%;
    margin: 5px 0.9166%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: 3px;
}
.invoices-list .invoice-line > div {
    display: block;
    float: left;
}
.invoices-list .invoice-line > .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    width: 100%;
}
.invoices-list .invoice-line > .wrapper.bg-raster {
    background: #f2f2f2;
    height: 24px;
}
.invoices-list .invoice-line > .wrapper > div.check {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
    padding: 2px 5px;
}
.invoices-list .invoice-line > .wrapper > div.inv-number {
    order: 2;
    flex: 8 1 auto;
    align-self: auto;
    margin: 2px 0 0 0;
    padding: 2px 5px;
}
.invoices-list .invoice-line > .wrapper > div.days {
    order: 3;
    flex: 2 1 auto;
    align-self: auto;
    padding: 3px 3px 2px 5px;
    text-align: right;
}
.invoices-list .invoice-line > .wrapper > div.sum {
    order: 2;
    flex: 8 1 auto;
    align-self: auto;
    margin: 2px 0 0 0;
    padding: 2px 5px
}
.invoices-list .invoice-line > .wrapper > div.note {
    order: 3;
    flex: 2 1 auto;
    align-self: auto;
    padding: 3px 3px 2px 5px;
    text-align: right;
}
@media(max-width: 1199px) {
    .invoices-list .invoice-line {
        width: 46%;
        margin: 5px 2%;
    }
}
@media(max-width: 991px) {
    .invoices-list .invoice-line {
        width: 96%;
        margin: 5px 2%;
    }
}

/*    --------------------- Landing Page -------------- */

@font-face {
    font-family: 'Poppins';
    src: url('/theme/default/assets/css/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('/theme/default/assets/css/fonts/Poppins-Bold.ttf');
}

.promo-bar{
    width: 100%;
    background-color: #1375be;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-bar-container{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 480px;
}

.promo-logo{
    justify-content: flex-end;
}
.promo-logo, .promo-sep, .promo-name{
    flex: 1;
    display: flex;
}

.promo-sep, .header-sep {
    height: 30px;
    margin: 5px 15px;
    width: 1px;
    max-width: 1px;
    background-color: #fff;
}

.header-sep{
    max-width: 1px;
    background-color: #000;
}

.promo-name{
    font-family: PoppinsBold, sans-serif;
    letter-spacing: 1px;
}

.selection-menu-placeholder{
    height: 80px;
}

.selection-menu{
    position:relative;
    background-color:#fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    max-width: 670px;
    margin: 0 auto;
}

.selection-menu li{
    flex: 1 0 22%;
    margin: 0 1%
}


.selection-menu.stuck{
    position:fixed;
    left:0;
    right:0;
    top:60px;
    z-index: 1000;
    box-shadow: inset 0 10px 10px -10px #888;
}

.selection-menu .menu-option{
    display:block;
    color: #fff;
    background-color: #1385d4;
    border: 2px solid #1385d4;
    border-radius: 5px;
    padding: 5px 10px;
    cursor:pointer;
    text-align:center;
    transition: ease all 0.2s;
    height: 52px;
    line-height: 18px;
    font-family: Poppins, sans-serif;
}

.selection-menu .menu-option:hover,
.selection-menu .menu-option:focus,
.selection-menu .active .menu-option{
    color: #1385d4;
    background-color: #fff;
    border: 2px solid #1385d4;
}

.h-header{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.h-header h1{
    font-family: PoppinsBold, sans-serif;
    font-weight: normal !important;
}

.header-right{
    flex: 1 0 auto;
    display:flex;
    justify-content: flex-end;
}

.category-details{
    background-color: #2f2f2f;
    text-align:center;
    width: 250px;
    border-radius:3px;
    color: #fff;
    line-height: 52px;
    font-family: Poppins, sans-serif;
}

.header-info{
    font-family: Poppins, sans-serif;
    color: #808080;
}

.h-products-container{
    display:flex;
    flex-flow: row wrap;
    margin: 0 -10px;
}

.h-product-container{
    position:relative;
    flex: 1 0 4%;
    min-height: 400px;
    margin: 0 5px 0 10px;
    overflow: hidden;
}

.h-product-container.category-placeholder{
    display:none;
}


.h-product-color{
    position:absolute;
    color: #000;
    font-size: 28px;
    text-align:center;
    top:30px;
    left:0;
    right:0;
    z-index: 100;
    font-family: PoppinsBold, sans-serif;
}

.h-product-image{
    position:absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin: 0 auto;
    transform: scale(0.85);
    transition: transform .4s ease;
}


.gray-backdrop{
    position:absolute;
    top:0;
    left:0;
    right:0;
    width: 380px;
    height: 380px;
    border-radius: 10px;
    margin: 0 auto;
}

.gray1{
    background-color: #f9f9f9;
}

.gray2{
    background-color: #edeff2
}

.gray3{
    background-color: #faf5f9
}

.preorder-link{
    position: absolute;
    right: 0;
    bottom: -45px;
    background-color: #1385d4;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    transition: ease-in 0.2s;
}

.h-product-container:hover .preorder-link{
    bottom:0;
}

.h-product-container:hover .h-product-image{
    transform: scale(1);
}

.middle-banner{
    text-align:center;
}

h2.fluff-header{
    font-family: PoppinsBold, sans-serif;
    font-size: 24px;
    color:#303030;
    letter-spacing: 0.5px;
    margin: 20px 0 5px 0;
    text-transform: none;
    text-align: left;
}

.highlight-text{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    line-height: 2.5rem;
}

.highlight-text + h2.fluff-header.overlap{
    margin-top: -7%;
}

.highlight-text span,
.highlight-text p,
.highlight-text-left,
.highlight-text-right{
    font-family: Poppins, sans-serif;
}

.highlight-text span{
    padding-left: 15px;
}

.highlight-text ul{
    padding: 0 30px 0 15px;
}

.highlight-text ul li {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.h-icon{
    display:block;
    height: 60px;
    width: 60px;
    margin: 5px;
    flex-shrink: 0;
}

.highlight-text-left{
    padding-right: 15px;
    text-align: left;
}

.highlight-text-right{
    padding-left: 15px;
    align-self: center;
}

.banner-xs{
    display:none;
}

.highlight-img-right,
.highlight-img-left{
    flex: 1 0 auto;
}

.highlight-img-right.offset-image{
    margin-right: -150px;
}

.highlight-img-left.offset-image{
    margin-left: -150px;
}

.last-text{
    margin-bottom: 0;
    align-items: end;
    text-align: left;
}

.promo-footer{
    text-align:center;
}

.promo-footer img{
    margin: 60px auto;
}

.family-product-details {
    text-align: left;
    color: grey;
}

.family-product-details .table {
    margin: 0;
}

.family-product-details .table td {
    padding-right: 30px;
}

.family-product-details .table td.actions {
    padding-right: 5px;
}

.family-product-details .product-characteristics .char-row {
    display: table-row;
    padding: 0 15px 0 0;
    border-bottom: 1px solid #ecebeb;
}

.family-product-details .product-characteristics .char-cell {
    display: table-cell;
    padding: 0 30px 0 0;
}

.family-product-details .actions {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.family-product-details .actions i.fa {
    color: #fff;
}

.family-product-details i.fa {
    color: #333;
}

.family-product-details i.fa.danger {
    color: #d9534f;
}

.family-product-details .badge {
    background: #fff;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
    padding: 2px 4px;
}

#preview-product .product-item {
    display: inline-block;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    vertical-align: top;
}

#preview-product .product-item.selected {
    border: 1px solid #087dbd;
    color: #087dbd;
    box-shadow: inset 0 0 0 1px #087dbd, inset 0 2px 8px 0 rgba(0,0,0,.15);
    font-weight: 700;
}

#preview-product .product-item p {
    font-size: 80%;
    margin: 0;
}

.floating-label {
    position: absolute;
    margin-top: -25px;
}

@media screen and (max-width: 1919px) {
    .highlight-img-right.offset-image,
    .highlight-img-left.offset-image{
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 991px) {
    .h-header h1{
        line-height: 30px;
    }

    .preorder-link{
        bottom: 30px;
        left:0;
        text-align:center;
        margin: 0 auto;
        width: 145px;
        opacity: 0.7;
    }

    .h-product-container:hover .preorder-link,
    .h-product-container:focus .preorder-link{
        opacity: 1;
        bottom: 30px;
    }

    .h-product-container{
        min-height: 300px;
    }

    .h-product-color{
        top: 20px;
        font-size: 2.5rem;
    }

    .h-product-image{
        top: 40px;
        max-height: 290px;
    }

    .gray-backdrop{
        width: auto;
        height: 250px;
    }

    .highlight-with-promo{
        flex-flow: row wrap;
    }

    .highlight-with-promo .promo1{
        max-width: 300px;
    }

}

@media screen and (max-width: 768px){
    .h-hero-banner{
        margin: 0 -15px;
    }

    .h-header{
        flex-flow: row wrap;
        justify-content: flex-start;
        height: auto;
        text-align: left;
    }

    .h-header h1{
        width: 100%;
        margin-bottom: 10px;
        font-size: 28px;
    }

    .h-header .category-details,
    .header-sep{
        display:none;
    }

    .h-product-container{
        flex-basis: calc(50% - 20px);
        margin: 0 5px 10px 10px;
        min-height: 300px;
    }

    .h-product-image{
        top: 40px;
        max-height: 280px;
        max-width: 100%;
    }

    .h-product-container.category-placeholder{
        background-color: #2f2f2f;
        display:flex;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
    }

    .h-product-container.category-placeholder span{
        align-self: center;
        text-align: center;
        padding: 30px 10px;
        font-size: 26px;
        line-height: 30px;
        font-weight:bold;
        color: #fff;
    }

    .highlight-img-right,
    .highlight-img-left{
        align-self: center;
    }

    .highlight-text{
        flex-flow: row wrap;
    }

    .highlight-text ul{
        padding: 0 15px;
    }

    .highlight-text ul li{
        margin-bottom: 30px;
    }

    .highlight-text-left,
    .highlight-text-right{
        padding-left:0;
        padding-right:0;
    }

    .last-text{
        flex-flow: column-reverse;
    }

    .banner-sm, .promo1{
        display:none;
    }

    .banner-xs{
        display:block;
        margin: 0 auto;
        max-width: 100%;
    }

    .selection-menu-placeholder{
        height: 65px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .selection-menu{
        max-width: 100%;
        padding: 5px;
        justify-content: space-between;
    }

    .selection-menu > li {
        flex: 1 0 auto;
        margin: 0 1%;
    }

    .selection-menu .menu-option{
        font-size: 1.4rem;
    }

    .h-header:not(.first-header){
        height: 0px;
    }
}
@media screen and (max-width: 480px) {
    .promo-name{
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }

    .selection-menu .menu-option{
        height: auto;
        font-size: 1rem;
        line-height: 12px;
        padding: 3px 7px;
    }
}
.right-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.d-none{
    display:none;
}
.h-header.first-header.col-lg-9 {
    margin-left: -15px;
    margin-right: -15px;
}
@media only screen and (min-width: 1200px)
{
    .d-lg-flex {
        display:flex;
    }
}