<div class="container">
	<div class="col-lg-12 notFound text-center">
		<h1>500</h1>
		<h2>Aceasta pagina nu exista sau a fost mutata</h2>
		<span>Puteti continua navigarea de pe <b><a href="<?=Configure::read('HOME_URL')?>"><?=__('Prima Pagina')?></a></b> sau accesa una dintre categorii:  </span>
		<i style="font-size: 9px">0x0500</i>
	</div>
	<script>
		/*window.setTimeout(function() {
			window.location.href = '/';
		}, 10000);*/
	</script>
</div><!-- /.contai