<button class="btn btn-success btn-xs" type="submit"><?= __ ('Cauta') ?></button>
<?php if (isset($filterForm['reset'])):?>
<a href="<?= $filterForm['reset'] ?>" class="btn btn-default btn-xs"><?= __ ('Reset') ?></a>
<?php endif;?>